{% extends 'base.html.twig' %}

{% block title %}Blog | Accueil{% endblock %}

{% block body %}
    <h2>Catégorie</h2>
    {% for cat in category %}
        <a href="{{ path('show_category', {'id': cat.id}) }}">{{ cat.name }}</a>
    {% endfor %}
{% endblock %}
